@page "/clientes"
@inject IJSRuntime JS
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using PrestaFacil.Services;
@inject IClienteService clienteServicio



<div class="container-fluid h-100 pl-0 pr-0 ">
    <div class="d-flex flex-row w-100 justify-content-between">
        <div class="form-inline ">
            <h3>Clientes</h3>
        </div>

        <div style="padding-right:0px !important; margin-right:7px !important; ">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dlgCliente" >
                <span class="oi oi-plus" aria-hidden="true"></span>
                Crear Cliente
            </button>
        </div>
    </div>
</div>
@if (lstCliente == null)
{
    <p>No existen registros</p>    
}
else{
<div class="form-group mt-1">
        
    <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="10"
                AllowSorting="true" Data="@lstCliente" TItem="Cliente" ColumnWidth="150px" class="table table-bordered table-striped table-hover ">
        <Columns>
                <RadzenGridColumn TItem="Cliente" Property="Nombre" Title="Nombre" Width="53%"></RadzenGridColumn>
                <RadzenGridColumn TItem="Cliente" Property="Rnc_cedula" Title="Rnc / Cédula" Width="13%"></RadzenGridColumn>
                <RadzenGridColumn TItem="Cliente" Property="Telefono1" Title="Telefono 1" Width="13%"></RadzenGridColumn>
                <RadzenGridColumn TItem="Cliente" Property="Telefono2" Title="Telefono 2" Width="13%"></RadzenGridColumn>
                <RadzenGridColumn TItem="Cliente" Title="Acción" Width="6.8%" Property="Id">
                    <Template Context="data">
                        <button type="button" data-toggle="modal" data-target="#dlgCliente" value="Ed" class="btn btn-primary btn-sm oi oi-pencil" @onclick="@(() => prepararEdit(@data))" />
                        <button type="button" data-toggle="modal" data-target="#dlgBorrar" value="" class="btn btn-primary btn-sm oi oi-trash"      @onclick="@(() => prepararDelete(@data.Id))" />
                    </Template>
                </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
    
 
</div>
}
<FormularioCliente Id="Id" cliente="cliente" TituloPantalla="TituloPantalla" DataChanged="@DataChanged"></FormularioCliente>
<BorraCliente CiaId="Id" cliente="cliente" DataChanged="@DataChanged"></BorraCliente>

@code {
    public List<Cliente> lstCliente;
    public Cliente cliente = new Cliente();
    public string TituloPantalla = "";
    private int Id = 0;
    NavigationManager navigationManager;
    protected override async Task OnInitializedAsync()
    {
        lstCliente = await clienteServicio.Get();
    }



    private void prepararEdit(Cliente cte)
    {
        cliente = cte;
    }


    private void prepararDelete(int id)
    {
        Id = id;
    }

    private async void DataChanged()
    {
        lstCliente = await clienteServicio.Get();
    }

}
